<main class="loginMain">

    <section class="leftLogin">
            <h1>Login</h1>
            <p>Get access to your Orders, Whislist and Recommendations</p>
    </section>
    
    <section class="rightLogin">
            <form action="">
                <article class="textfield">
                    <input type="text" class="inputText" required/>
                    <label class="floating-label">Email</label>
                </article>

                <article class="textfield">
                    <input type="text" class="inputText" required/>
                    <label class="floating-label">Password</label>
                </article>

               <article>
                   <a href="">Login</a>
               </article>


            </form>
    </section>

</main>