<!-- <ul><li *ngFor="let banner of dataList"><img src="{{banner.bannerImageUrl}}"/></li></ul> -->


<main class="mainHome ">


    <section *ngFor="let category of categoryList ; let idx=index" >
        <div *ngIf="category.enabled">
            <div class="categoryBorder">
                &nbsp;
            </div>
            <section class="category " >
                <article class="menu-items"  [ngClass]="{'menuright': category.index}">
                    <img src="{{category.imageUrl}}" />
                </article>
                <article class="description">
                    <h2>{{category.name}}</h2>
                    <p>{{category.description}}</p>
                    <a (click)="selectedItem(category.id)">Explore &nbsp;{{category.key}}</a>
                </article>
            </section>
        </div>

    </section>


</main>