<ul><li *ngFor="let banner of dataList"><img src="{{banner.bannerImageUrl}}"/></li></ul>
<div class="slideshow-container">

    <div class="mySlides fade" *ngFor="let banner of dataList">      
      <img src="{{banner.bannerImageUrl}}" style="width:100%">      
    </div>   
    
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
    </div>
    <!-- <section role="banner" class="bannerContainer effect">
        <article class= "imageContainer" >
            <img class = "bannerImage" src="${bannerData.imageUrl}" alt="">
        </article>
        <article class="bannerContentContainer">
            <h3>${bannerData.name}</h3>
            <p>${bannerData.description}</p>
            <a class="bannerButton" href="#/products/${bannerData.id}">Explore ${bannerData.key}</a>
        </article>
                           
    </section> -->