.mainHome  {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.mainHome  .category {
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}
.mainHome  .category .menu-items {
  display: flex;
  align-items: center;
  width: 35%;
}
.mainHome  .category .menu-items img {
  width: 100%;
}
.mainHome  .category .description {
  width: 65%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.mainHome  .category .description * {
  margin: 5% auto;
  display: inline-block;
}
@media (min-width: 900px) {
  .mainHome  .category .description * {
    margin: 2% auto;
  }
}
.mainHome  .category .description a {
  background-color: #BD2A57;
  color: white;
  padding: 3%;
  text-decoration: none;
}

.categoryBorder {
  background: radial-gradient(at 50% 0, #8a8888, transparent 50%);
  background-size: 100% 8px;
  background-repeat: no-repeat;
}

.category:nth-child(4n) .menu-items {
  order: 2;
}

.menuright{
  order:1;
}
